<html>

<head>
<title>adhs for {{src}}</title>
</head>

<body>
    <h1>Ad-hoc SPARQL endpoint for {{src}}</h1>
    <form action="{{host}}/sparql" method="get">
        <textarea name="query" rows="12" cols="100">SELECT DISTINCT ?concept WHERE {
    [] a ?concept .
}</textarea>
        <br />
        <label>Result format:</label>
        <select name="output" value="html">
          <option value="text/html">HTML table</option>
          <option value="application/sparql-results+json">JSON</option>
          <option value="application/sparql-results+xml">XML</option>
        </select>
        <input type="submit" value="Run Query" />
    </form>
</body>

</html>
